<div class="comments-card">
  <div *ngIf="comments.length > 0">
    <div class="hide-comments" (click)="toggle()">Hide comments({{comments.length}})</div>
    <div *ngIf="showComments">
      <div class="comment" *ngFor="let c of comments">
        <div class="d-flex">
          <img class="avatar" src="{{c.user.avatar}}" alt="">
          <div class="text">
            <div class="main-text">
              {{c.user.name}}
            </div>
            <div class="secondary-text">
              {{c.text}}
            </div>
          </div>
          <div class="day">
            {{c.date | date: 'dd-MM-yyyy HH:mm'}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="comments.length == 0" class="no-comments">
    No comments. Add new comment :)
  </div>
  <div class="input-field">
    <form #addComent="ngForm" (ngSubmit)="onSubmit(addComent)">
      <input id="comment"
             type="text"
             placeholder="Add a comment"
             name="comment"
             [(ngModel)]="comment.text"
             #userComment="ngModel"
             required
      >
      <button type="submit" style="display: none"  [disabled]="!addComent.form.valid">hidden submitt</button>
    </form>
  </div>
</div>
