@import '../../../assets/variables/colors';

.comments-card {
  .comment {
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EBEBEB;;
  }
  .hide-comments {
    color: $main-orange;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    text-decoration: underline;
    cursor: pointer;
  }
  .avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  .text {
    padding: 10px 10px 0 10px;
    width: calc(100% - 20px);
    .main-text {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: $main-blue;
      letter-spacing: 0;
      font-weight: 500;
    }
    .secondary-text {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      color: $comments-text;
      letter-spacing: 0;
      line-height: 21px;
      word-wrap: break-word;
    }
  }
  .day {
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: $main-blue;
    letter-spacing: 0;
    position: absolute;
    right: 20px;
  }
  .input-field {
    width: 100%;
    text-align: center;
    input[type=text] {
      border: none;
      border-bottom: 2px solid #DBE0E8;
      font-size: 18px;
      color: #8298B9;
      letter-spacing: 0;
      width: 100%;
      padding-top: 40px;
    }
  }
  .no-comments {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: $main-blue;
    letter-spacing: 0;
    font-weight: 500;
  }
}

@media only screen and (max-width: 768px) {
  .hide-comments {
    text-align: center;
  }
}
