<div class="user-info-card" *ngIf="userProfile">
  <div class="card" id="first-card">
    <i class="fas fa-share-square share-icon" (click)="getLocation()"></i>
    <div class="d-flex">
      <img class="image" src="{{userProfile.user.avatar}}"/>
      <div class="user-data">
        <div class="d-flex heart">
          <div class="main-text">{{userProfile.user.name}}</div>
          <i class="far fa-heart icon" [ngClass]="{'fas active' : isLike === true }" (click)="likeProfile(true)"></i>
        </div>
        <div class="secondary-text">{{userProfile.user.address}}</div>

      </div>
    </div>
    <div class="list mt-20">
      <div class="menu-left d-flex">
        <div class="stats">
          <div>
            <div class="orange-text">{{likes}}</div>
            <div class="small-text">Likes</div>
          </div>
        </div>
        <div class="stats special">
          <div>
            <div class="orange-text">{{following}}</div>
            <div class="small-text">Following</div>
          </div>
        </div>
        <div class="stats">
          <div>
            <div class="orange-text">{{followersNumber}}</div>
            <div class="small-text">Followers</div>
          </div>
        </div>
      </div>
      <div class="menu-right">
        <button class="main-button" (click)="followProfile()">{{isFollowing === false ? 'FOLLOW': 'UNFOLLOW'}}</button>
      </div>
    </div>
  </div>
  <div class="card card-comments overflow">
    <app-comments-card [comments]="userProfile.comments"></app-comments-card>
  </div>
</div>


