/* You can add global styles to this file, and also import other style files */
button:focus {outline:0 !important;}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0.3;
  background: #d8d8d847;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  opacity: 0.1;
  background: #002c7133;
  border-radius: 100px;;
}
input:focus{
  outline: none;
}

